*abantibody_train_antibody_validation_batchsize4model_1D3_2D25_bins26_dil5_Adam_lr0p001_weight_decay0p0_CrossEntropyLoss_ReduceLROnPlateau_factor0p01_min_lr0p0_patience1_threshold0p01_seed1234.p filter=lfs diff=lfs merge=lfs -text
